html,
body {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.nav-link {
	color: white !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	background-color: cornflowerblue;
}
