html,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(to right, #56ab2f, #a8e063);
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#title {
	color: white;
}

.blue-text {
	color: cornflowerblue;
}
