html,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(to right, #43cea2, #185a9d);
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#title {
	color: white;
}
